@import './style';

.aboutCompanySec {
    display: flex;
    height: 100vh;
    padding: 5rem 10rem;
    gap: 50px;
  
    @media (max-width: 1050px) {
      flex-direction: column;
      height: auto;
      align-items: center;
      padding: 3rem 2rem;
    }
  
    @media (max-width: 650px) {
      padding: 2rem 1rem;
    }
  
    .img {
      img {
        padding: 0;
        width: 100%;
        height: auto;
  
        @media (max-width: 800px) {
          height: 22rem;
          width: 22rem;
        }
  
        @media (max-width: 650px) {
          width: 100%;
          height: auto;
        }
      }
    }
  
    .data {
      display: flex;
      flex-direction: column;
      gap: 30px;
  
      @media (max-width: 650px) {
        width: 90%;
        text-align: center;
      }
  
      h3 {
        font-size: 1.5rem;
        font-family: $titles-font;
        color: $text-black;
      }
  
      h1 {
        font-size: 2.5rem;
        font-family: $titles-font;
        color: $text-black;
  
        @media (max-width: 650px) {
          font-size: 2rem;
        }
      }
  
      p {
        font-family: $text-font;
        color: #36353f;
        line-height: 1.5;
  
        @media (max-width: 650px) {
          font-size: 1rem;
        }
      }
    }
  }