// Colors
$orange: #FF4D30;
$bg-gray: #f8f8f8;
$bg-white: #ffffff;

// Text Colors
$text-black: #010103;
$text-orange: #ff4d30;
$btn-black: #161616;
$text-gray: #706f7b;

// Font Families
$titles-font: "Poppins", sans-serif;
$text-font: "Rubik", sans-serif;

// Global Resets
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: $titles-font;
  scroll-behavior: smooth;
}